<!Doctype html>
<html>
<head>
    <title> Plataforma</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/CSS/estilos.css"/>
    <link rel="stylesheet" href="static/CSS/menu.css"/>
    <link rel="stylesheet" href="static/CSS/mapi.css"/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://unpkg.com/osmtogeojson@2.2.12/osmtogeojson.js"></script>


</head>
<body>
<header>
    <div class="contenedor">
        <input type="checkbox" id="menu-bar">
        <h1 class="glyphicon titul" >FEIndoor </h1>
        <label class="glyphicon muni  glyphicon-align-justify" for="menu-bar"> </label>



        <nav class="menu icono">
    <!--    <img class="logo"src="logo.png" alt="uv"> </img> !-->
           <a href="">Laboratorios</a>
           <a class="w3-bar-item" href="Aulas"><em style="font-size:250%"class="icono fa fa-search"></em></a>
           <a class="w3-bar-item" href="Aulas"><em style="font-size:250%"class="icono fa fa-laptop"></em></a>
     
            <a href="">Secretarias</a>
            <a href=""> Cubiculos </a>
        </nav>

    </div>
</header>
<section class="sexc">
<main class="coten">
        <div id="map" class="leaflet-map-pane mapi"; >        
        <div class = "leaflet-control coordinate" ></div>
        <div >
            </br>
            </br>
            </br>  
            </br>
            </br>
            <div id="overpass-api-controls" class="leaflet-control posi">
                <input  id="query-textfield" placeholder="Buscuar" size="13">
                <input class="btn" id="query-button" type="button" value="Buscuar">
            </div>
        </div>
    </div>
</div>
	 
</main>
</section>
    <!-- <button   id="uno"   type="button" class="b btn btn-primary">Nivel 1</button>   -->
<!-- <button id="dos"  type="button" class="a btn btn-primary">Nivel 2</button> -->
 
    <!-- -->

<!-- geojson de partes -->
<script src="../../static/layers/planta_baja_ways.js"></script>
<script src="../../static/layers/planta_alta_ways.js"></script>
<!-- leaflet search  -->
<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

<script src="static/JS/script.js"></script>


</body>
  
  
</html>
