* {
  box-sizing: border-box;
}

.mapi {
    width: 100%;
    margin-top: 3%;
    margin-left:17%;
    margin-right:10%;
    margin-bottom:40%;
    position: relative;
    z-index:1;
}

.titul{
    float: center;
    margin-left: 25%;
    font-size:45PX;
}



.zoom {

  transform: scale(1.1); 
}








.muni {

    float: left;
    font-size: 150%;
    margin-top: 35PX;

}

section {
    width:79%;
    margin-right:98px;
}


