* {
  box-sizing: border-box;
}


#leaflet-map-pane {
    margin-top: 5%;

}


.sexc{

    font-size:1em;
}
.mapi {
    height: 58em;
    margin-top: 3%;
    width: auto;
    z-index:1;
    margin-left:12%;
    margin-bottom:2%;
    max-width:100%;
}





@media screen and (max-width:707px ) and (orientation:portrait){

.mapi {
    width: 100%;
    margin-top: 10%;
    height: 34em;
    z-index:1;
    margin-left:15%;
}


}


@media screen and (max-height:500px ) {

.mapi {
    width: 100%;
    margin-top: 5%;
    height: 250px;
    z-index:1;
    margin-left:15%;
}


}
.titul{
    float: center;
    margin-left: 12%;
    font-size:45PX;
}



.zoom {

  transform: scale(1.1); 
}




.muni {

    font-size: 150%;
    margin-top: 20PX;
    
}

.mani {
    font-size: 150%;
    margin-top: 20PX;
    margin-bottom: 10px;
    float: right;

}

section {
    width:79%;
    margin-right:99px;
    
}


