.mapi {
    margin-top: 10%;
    margin-left:17%;
    position: relative;
    z-index:1;
}

.titul{
    float: center;
    margin-left: 19%;
    font-size:45PX;
}

.muni {

    float: LEFT;
    font-size: 160%;
    margin-top: 35PX;

}

section {
    width:79%;
    margin-rigth:98px;
}


