#menu-bar {

    display:none;    
}

.icono i {
    font-size: 400px;
}



#icono {
    font-size: 400px;
    height: 300%;
}

header label {
    float: right;
    font-size: 60%;
    margin: 6px 0;
    cursor: pointer;
} 


.menu {
    position:absolute;
    top: 64px;
    left: 0;
    width: 30%;    
    height: 100vh;
    background: rgba(51,51,51,0.9);
    transition: all 0.8s;
    transform: translateX(-100%);
    z-index: 2;
    
    
}


.menu a {
    display: block;
    color: #FFFF;
    height: 13%;
    text-decoration:none;
    padding: 11px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

.menu a:hover {
    background: rgba(255,255,255,0.3);
   
    
}

#menu-bar:checked ~ .menu {
    transform: translate(0%);
    position:absolute;
    display:block;
    z-index:2;
}
